.activityContainer {
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/grunge_background.png);
  padding-top: 15px;
  padding-bottom: 100px;
  padding-left: 160px;
  padding-right: 160px;
}

.activityTitle {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 500;
  color: black;
}
.cardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
.activityHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
