.galleryContainer {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/grunge_background.png);
  padding-top: 40px;
  padding-bottom: 30px;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
}

.galleryTitle {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-top: 20px;
}
.galleryHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.infoBlock {
  display: flex;
}
.line {
  border-bottom: 3px solid var(--main-color);
  margin-top: 10px;
  margin-bottom: 15px;
  width: 60px;
}
.galleryLine {
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.galleryItem {
  max-width: 450px;
}
@media screen and (min-width: 375px) {
  .galleryTitle {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .galleryTitle {
    font-size: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .galleryTitle {
    font-size: 45px;
  }
}
