.partnersGlobalContainer {
  background: url("../../assets/images/grunge_background.png");
  background-color: var(--primary-accent);
  background-blend-mode: multiply;
  padding-bottom: 100px;
}
.partnersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 25px;
  flex-direction: column;
}

.partnersTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}

.punchIcon {
  width: 70px;
  height: 70px;
}

.line {
  border-bottom: 3px solid var(--main-color);
  margin-top: 10px;
  margin-bottom: 60px;
  width: 60px;
}
.partnersList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
