.socialMediaIcons {
  margin-left: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.instaLogo {
  fill: #b59d5a;
}
.fbLogo {
  fill: #b59d5a;
}
.instaLogo:hover,
.instaLogo:focus,
.fbLogo:hover,
.fbLogo:focus {
  transform: scale(1.1);
  transition: transform 250ms ease-in-out 0s;
}
@media screen and (min-width: 375px) {
  .socialMediaIcons {
    margin-left: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .instaLogo {
    fill: #b59d5a;
  }
  .fbLogo {
    fill: #b59d5a;
  }
  .instaLogo:hover,
  .instaLogo:focus,
  .fbLogo:hover,
  .fbLogo:focus {
    transform: scale(1.1);
    transition: transform 250ms ease-in-out 0s;
  }
}

@media screen and (min-width: 768px) {
  .socialMediaIcons {
    margin-left: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .instaLogo {
    fill: #b59d5a;
  }
  .fbLogo {
    fill: #b59d5a;
  }
  .instaLogo:hover,
  .instaLogo:focus,
  .fbLogo:hover,
  .fbLogo:focus {
    transform: scale(1.1);
    transition: transform 250ms ease-in-out 0s;
  }
}

@media screen and (min-width: 1440px) {
  .socialMediaIcons {
    margin-left: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .instaLogo {
    fill: #b59d5a;
  }
  .fbLogo {
    fill: #b59d5a;
  }
  .instaLogo:hover,
  .instaLogo:focus,
  .fbLogo:hover,
  .fbLogo:focus {
    transform: scale(1.1);
    transition: transform 250ms ease-in-out 0s;
  }
}
