.footerContainer {
  width: 100vw;
  background-color: #2c2c2c;
}
.globalFooterContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  max-height: 250px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
}

.line {
  border-bottom: 1px solid var(--brand-grey);
  width: 90%;
}
.footerLogo {
  display: inline-block;
  width: 90px;
  height: 90px;
}
.footerMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.footerMenuItems {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.footerMenuItems:hover,
.footerMenuItems:focus {
  color: var(--main-color);
  transform: scale(1.1);
  transition: transform 250ms ease-in-out 0s;
}
.accentText {
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 15px;
}

@media screen and (min-width: 375px) {
  .globalFooterContainer {
    padding: 20px 20px;
  }

  .line {
    width: 90%;
  }
  .footerLogo {
    width: 100px;
    height: 100px;
  }
  .footerMenu {
    gap: 10px;
  }
  .footerMenuItems {
    font-size: 14px;
  }

  .accentText {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footerLogo {
    display: block;
  }
  .globalFooterContainer {
    padding: 20px 40px;
    gap: 20px;
    max-height: 400px;
    gap: 10px;
  }

  .line {
    width: 100%;
  }
  .footerLogo {
    width: 100px;
    height: 100px;
  }
  .footerMenu {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footerMenuItems {
    font-size: 16px;
  }

  .accentText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .globalFooterContainer {
    flex-direction: row;
    max-height: 950px;
    justify-content: space-between;
    padding: 30px 160px;
    gap: 20px;
  }
  .footerLogo {
    width: 140px;
    height: 140px;
  }
  .line {
    margin: 10px 0 15px 0;
    width: 100%;
  }
  .footerMenu {
    gap: 20px;
  }
  .footerMenuItems {
    font-size: 20px;
  }

  .accentText {
    font-size: 20px;
  }
}
