.contactsGlobalContainer {
  position: relative;
  box-sizing: border-box;
  background-image: url(../../assets/images/background_footer.jpg);
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  width: 100vw;
  overflow: hidden;
}
.contactsTitle {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}
.line {
  border-bottom: 3px solid var(--main-color);
  margin: 10px 0 25px 0;
  width: 70%;
}
.contactsGlobalContainer .contactForm {
  align-self: center;
}
.contactsGlobalContainer iframe {
  align-self: center;
}
.contactsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

.contactsList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  margin: 20px 0;
}
.address {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.address :last-child {
  font-size: 10px;
  font-weight: 400;
  text-transform: none;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.emailLink {
  text-transform: none;
  font-size: 10px;
}
.emailLink :hover,
.emailLink :focus {
  color: var(--main-color);
  font-weight: 500;
}

iframe {
  width: 90%;
}

.contactForm {
  box-sizing: border-box;
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 50px;
}

.contactForm input {
  background-color: rgba(46, 44, 44, 0.64);
  outline: none;
  border: none;
  border-radius: 4px;
  height: 20px;
  font-size: 8px;
  padding: 4px 0 4px 32px;
  text-overflow: ellipsis;
  color: var(--white);
  width: 100%;
}
.contactForm input:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-in-out 0s;
}
.contactForm input:focus::placeholder {
  color: transparent;
}

.contactBtn {
  box-sizing: border-box;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  font-size: 10px;
  background-color: var(--main-color);
  width: 50%;
  margin: 15px 0;
  padding: 8px 32px;
  border-radius: 4px;
  width: 100%;
}

.contactBtn:hover,
.contactBtn:focus {
  transform: scale(1.1);
  transition: transform 250ms ease-in-out 0s;
}

@media screen and (min-width: 375px) {
  .contactsTitle {
    font-size: 20px;
  }
  .contactForm {
    position: relative;
    box-sizing: border-box;
    width: 80%;
  }
  .contactBtn {
    width: 80%;
  }
  .contactForm input {
    height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contactsGlobalContainer {
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  .contactsTitle {
    font-size: 22px;
  }
  .line {
    width: 100%;
  }
  .contactsContainer .contactForm {
    align-items: flex-start;
  }
  .contactsContainer iframe {
    align-items: flex-start;
  }

  .contactsContainer {
    flex-wrap: wrap;
    max-height: 350px;
  }

  .contactsList {
    width: 45%;
  }
  .address {
    font-size: 14px;
  }

  .address :last-child {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
  }

  .contact {
    gap: 23px;
    font-size: 14px;
  }
  .emailLink {
    font-size: 14px;
  }

  iframe {
    width: 45%;
  }
  .contactForm {
    position: relative;
    box-sizing: border-box;
    width: 45%;
    margin-top: 20px;
  }

  .contactForm input {
    width: 100%;
  }

  .contactBtn {
    width: 50%;
    align-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .contactsGlobalContainer {
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  .contactsContainer {
    flex-wrap: wrap;
    height: 500px;
  }
  .contactsTitle {
    font-size: 22px;
  }
  .line {
    width: 100%;
  }
  .contactsContainer .contactForm {
    align-items: flex-start;
  }
  .contactsContainer iframe {
    align-items: flex-start;
  }

  .contactsContainer {
    flex-wrap: wrap;
    max-height: 450px;
  }

  .contactsList {
    width: 45%;
  }
  .address {
    font-size: 18px;
    gap: 50px;
  }

  .address :last-child {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
  }

  .contact {
    gap: 25px;
    font-size: 18px;
  }
  .emailLink {
    font-size: 16px;
    font-weight: 400;
  }

  iframe {
    width: 45%;
    height: 300px;
  }
  .contactForm {
    width: 45%;
    gap: 30px;
    margin-top: 20px;
  }

  .contactForm input {
    width: 90%;
  }

  .contactBtn {
    width: 50%;
    align-self: center;
  }
}
