.swiper {
  background-color: blue;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.swiper-wrapper {
  border: solid 1px red;
  padding: 0;
}
.swiper-slide {
  padding: 0;
}
.swiper-pagination-prod {
  border: solid 1px green;
}
